/* ==========================================================================
Fresh Footer
========================================================================== */

footer.footer-dark {
    background: $andrea-pink;
    color: $white;
    .columns {
        margin-top: 35px;
    }
    .footer-logo {
        img {
            height: 40px;
        }
    }
    .footer-column {
        .footer-header h3 {
            font-weight:500;
            font-size: 1.2rem;
            // text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 20px;
        }
        ul.link-list {
            line-height: 40px;
            font-size: 0.9rem;
            a {
                color: $light-grey;
                font-weight: 400;
                transition: all 0.5s;
            }
            :hover {
                color: $mint;
            }
        }
        .level-item .icon {
            color: $secondary;
            transition: all 0.5s;
            :hover {
                color: $andrea-green;
            }
        }
    }
}